@import "tailwindcss";

@theme {
  
  --color-primary: #111B3C;
  --color-secondary: #51A2FF;
  --color-ternary: #90A1B9;
  --color-solved: #05DF72;
  --color-transfer: #FF8904;
  --color-dropped: #FF69004D;
  --color-bgPrimary: #183964;
  --color-bgSecondary: #1D293D80;
  --color-borderPrimary: #2B7FFF33; 


  --font-inter: "Inter", "sans-serif";
  --font-arimo: "Arimo", "sans-serif";

}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  /* width: 100%; */
  border-radius: 16px;
  background: linear-gradient(180deg, #183964, #0b1e35);
  border: 1px solid rgba(175, 145, 145, 0.15);
  box-shadow: 0 0 12px rgba(183, 194, 207, 0.3),
    inset 0 1px 2px rgba(120, 180, 255, 0.3),
    inset 0 -2px 4px rgba(128, 123, 123, 0);
  color: white;

}


.setting-btn .icon {
  font-size: 22px;
  filter: drop-shadow(0 0 4px rgba(150, 200, 255, 0.9));
}
